<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="css/lightbox.css" rel="stylesheet">
			<script src="js/lightbox-plus-jquery.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/bur.html">Burgundy</a></li>
				<li><a href="/char.html">Chartres</a></li>
				<li><a href="/koenig.html">Château du Haut-Kœnigsbourg</a></li>
				<li><a href="/col.html">Colmar</a></li>
				<li><a href="/eguis.html">Eguisheim</a></li>
				<li><a href="/eper.html">Épernay</a></li>
				<li><a href="/font.html">Fontainebleau</a></li>
				<li><a href="/grez.html">Grez-sur-Loing</a></li>
				<li><a href="/haut.html">Hautvillers</a></li>
				<li><a href="/kayser.html">Kaysersberg</a></li>
				<li><a href="/morsch.html">Morschwiller</a></li>
				<li><a href="/ober.html">Obernai</a></li>
				<li><a href="/paris.html">Paris</a></li>
				<li><a href="/reims.html">Reims</a></li>
				<li><a href="/rib.html">Ribeauvillé</a></li>
				<li><a href="/riq.html">Riquewihr</a></li>
				<li><a href="/strass.html">Strassburg</a></li>

			</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>

	        		<li><a href="https://github.com/zdziedziak">github.com/zdziedziak</a></li>
				</ul>
			</footer>
		</body>
	</html>
